<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Order list</h4>
            <p class="card-category">This is a list of orders.</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th *ngFor="let prop of orderProperties">{{ prop }}</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>id</td>
                    <td>customerID</td>
                    <td>productID</td>
                    <td>amount</td>
                    <td>status</td>
                    <td>
                      <div class="btn-group w-100">
                        <button type="submit" class="btn btn-success ml-auto">
                          <span class="material-icons">save_alt</span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                          <span class="material-icons">delete</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
