<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 offset-3">
        <form class="form-inline">
            <label>Search</label>
            <select name="searchingProp" class="form-control mx-3 px-3">
              <option *ngFor="let prop of orderProperties" class="m-3"> {{ prop }} </option>
            </select>
            <input (keyup)="onChangePhrase($event)" type="text" class="form-control" placeholder="Search">

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button [routerLink]="['order/0']" class="btn btn-success btn-block mb-5">
          <span class="material-icons">
            library_add
          </span> Add an order
        </button>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Order list</h4>
            <p class="card-category">This is a list of orders.</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th *ngFor="let prop of orderProperties">{{ prop }}</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orderList$ | async | filter:phrase:'id'">
                    <td> {{ order.id }} </td>
                    <td> {{ order.customerID }} </td>
                    <td> {{ order.productID }} </td>
                    <td> {{ order.amount }} </td>
                    <td> {{ order.status }} </td>
                    <td>
                      <div class="btn-group w-100">
                        <button [routerLink]="['order/' + order.id]" type="submit" class="btn btn-success ml-auto">
                          <span class="material-icons">create</span>
                        </button>

                        <button (click)="removeOrder(order)" type="submit" class="btn btn-danger">
                          <span class="material-icons">delete</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
