<div class="row">
    <div *ngIf="(bill$ | async) as bill" class="col-6 offset-3">
        <form #billForm="ngForm" (ngSubmit)="onUpdate(bill)">

            <div class="form-group">
                <label for="">OrderID</label>
                <input name="orderid" [(ngModel)]="bill.orderID" type="number" class="form-control" pattern="[0-9]{1,}"
                    required>
                <div [hidden]="billForm.controls.orderid?.valid" class="error-message">
                    must be
                </div>
            </div>

            <div class="form-group">
                <label for="">Amount</label>
                <input name="amount" [(ngModel)]="bill.amount" type="number" class="form-control" pattern="[0-9]{1,}"
                    required>
                <div [hidden]="billForm.controls.amount?.valid" class="error-message">
                    must be
                </div>
            </div>


            <div class="form-group">
                <label for="">Status</label>
                <select [(ngModel)]="bill.status" class="form-control">
                    <option>new</option>
                    <option>paid</option>
                </select>
            </div>


            <button [disabled]="billForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg">
                <span *ngIf="!bill.id" class="material-icons">save</span>

                <span *ngIf="bill.id" class="material-icons">refresh</span>

            </button>
        </form>
    </div>
</div>