.btn.btn-primary {
    color: #454d5a;
    background-color: #b06727;
    border-color: #b07427;
    box-shadow: 0 2px 2px 0 rgba(176, 116, 39, 0.14),0 3px 1px -2px rgba(176, 116, 39, 0.2),0 1px 5px 0 rgba(176, 122, 39, 0.12);
}

.btn.btn-primary:disabled:hover {
    background-color: #a27342;
    border-color: #b05427;
}

.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(176, 90, 39, 0.42),0 4px 23px 0 rgba(50, 49, 49, 0.12),0 8px 10px -5px rgba(176, 97, 39, 0.2);
}

.btn.btn-primary:hover {
    color: #c2c3c6;
}

.error-message {
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(155, 4, 4);
    overflow: hidden;
    position: absolute;
    animation: error 1s 1;
  }
  
  @keyframes error{
    0% {
      right: -300px;
    }
    50% {
      right: -15px;
    }
    
  }
  
  .fa-refresh {
    animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
    0% {
     transform: rotate(0);
    }
    
    50%{
      transform: rotate(180deg);
    }
    
    100%{
      transform: rotate(360deg);
    }
  }