<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Customer's list</h4>
                        <p class="card-category"> Itt lehet új vásárlót rögzíteni, módosítani vagy törölni</p>
                    </div>
                    <div class="card-body">
                        <div class="row m-3">
                            <button class="btn btn-success" [routerLink]="['/customers/'+0]">Új vásárló
                                felvitele</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> FirstName </th>
                                    <th> LastName </th>
                                    <th> Email </th>
                                    <th> Address </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of customerList$ | async">
                                        <td>
                                            {{ customer.id }}
                                        </td>
                                        <td>
                                            {{customer.firstName}}
                                        </td>
                                        <td>
                                            {{customer.lastName}}
                                        </td>
                                        <td>
                                            {{customer.email}}
                                        </td>
                                        <td>
                                            {{customer.address.zip}},
                                            {{customer.address.notes}}.
                                            {{customer.address.street}},
                                            {{customer.address.city}},
                                            {{customer.address.country}}
                                        </td>
                                        <td>
                                            <button class="btn btn-info">
                                                Update</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>